# ignore external executable folder #
external_algn_tools/* linguist-vendored

# ignore sphinxdocs #
[Ss]phinx[Dd]ocs/* linguist-vendored

# ignore illustrations, examples, etc #
illustrations/* linguist-vendored
examples/* linguist-vendored
