# ignore external executable folder #
external_algn_tools/* linguist-vendored

# ignore sphinxdocs #
SphinxDocs/* linguist-documentation
SphinxDocs/build/* linguist-documentation
*.html linguist-documentation

# ignore illustrations, examples, etc #
illustrations/* linguist-documentation
examples/* linguist-vendored
